{{#each items}}
<li>
  <div class="left">
    <img src="{{productImage imageURL}}">
  </div>
  <div class="right">
    <h4>{{name}}
      {{#if link}}
      <a class="btn-info" href="{{link}}" target="_blank">
        <i class="ca-icon ca-icon-info"></i>
      </a>
      {{/if}}
    </h4>
    <p>{{description}}</p>
  </div>
  <p class="desc">{{description}}</p>
</li>
{{/each}}